/*
Marine
Aldrin Benjamín Guzmán Figueroa
abgf3@alu.ua.es
*/
/*--Body--*/
body#pi {
    background-image: url("tokyo-night.png");
}
/*--fin body--*/
/*--Contenedor--*/
div#contenedor {
    background-color: #2ad9ef;
	width: 90%;
	margin: auto;
}
/*--Intro--*/
div#titulo h1 {
    font-size: 5vw;
    background-color: #ff84b3;
    padding: 0.5em 1em;
    border: 5px solid #ffad7d;
    margin-bottom: 0px;
}
div#titulo h2 {
    font-size: 3vw;
    text-align: center;
    background-color: #ffb1eb;
    margin: 0px;
    padding: 0.5em 1em;
}
div#resumen {
    margin: 0px 3em;
}
div#resumen ul.ul1 {
    padding: 0px;
    list-style: none;
    display: inline-grid;
    grid-template-columns: auto auto auto;
	border: 5px solid #7df9ff;
}
div#comentario {
    border: 5px solid #fdefef;
    background-color: #b797bd;
    width: 50%;
    position: relative;
    left: 45%;
}
/*--fin intro--*/
/*--fin contenedor--*/
/*--Todos--*/
li {
    word-break: break-word;
    margin: 6px;
    padding: 3px;
    background-color: #2fc8ff;
}
p{
	margin: 1em 0.5em;
}

/*--fin todos--*/