/*
Tokyo lullaby
Aldrin Benjamín Guzmán Figueroa
abgf3@alu.ua.es
*/
/*--Body--*/
body#pi {
    background-image: url("tokyo-night.png");
}
/*--fin body--*/
/*--/Contenedor/--*/
div#contenedor {
    background-color: var(--color1, azure);
}
/*--Intro--*/
div#titulo h1 {
    font-size: 9vw;
    background-color: var(--color2, pink);
    padding: 0.5em 0.5em;
    border: 5px solid var(--color3, palevioletred);
    margin-bottom: 0px;
}
div#titulo h2 {
    font-size: 6vw;
    text-align: center;
    background-color: var(--color4, antiquewhite);
    margin: 0px;
    padding: 0.5em 1em;
}
div#resumen {
	background-color: #3A156E;
}
div#resumen ul.ul1 {
    display: grid;
    gap: 5px;
    background-color: var(--color5);
    border: 5px solid var(--color5, cornflowerblue);
}
div#resumen li {
    background-color: var(--color1);
    margin: 0px;
	padding: 1em;
}
div#resumen p, div#resumen li {
    color: #F184CA;
}
div#comentario {
    border: 5px solid var(--color6, beige);
    background-color: var(--color7, mediumpurple);
}
/*--fin intro--*/
/*--Enlacesintra--*/
div#enlacesintra {
    grid-area: intra;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em;
}
div#enlacesintra h3.intra, div#enlacesintra ul.ul1 {
    background-color: #F18CDC;
    padding: 1em;
    margin: 0px;
    border-radius: 10px;
}
/*--fin enlacesintra--*/
/*--Apartados--*/
div#apartados {
    background-color: var(--color10);
    margin: 0.5em 0.5em;
}
div#apartados div {
    padding: 0.25em 1em;
}
div#objetivos, div#profesores {
    background: var(--color9);
}
div#contenidos ul.ul1 {
    background-color: var(--color1);
    display: grid;
}
div#contenidos ul.ul1 li {
    background-color: var(--color9);
    display: flex;
    align-items: center;
	flex-direction: column;
}
div#contenidos ul.ul1 li ul {
	margin-left: 5px;
    border-top: 3px solid var(--color1);
}
ul.ul2 {
    list-style-type: circle;
    margin: 0em 1em;
}
div#profesores dt {
	width: 40%;
}
div#profesores dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div#profesores dd {
    width: 50%;
    margin: 3px 0px;
    padding-left: 10px;
    border-left: 2px solid var(--color1);
}
/*--fin apartados--*/
/*--Enlaces--*/
div#enlaces {
    grid-area: left;
    background-color: var(--color11);
    background-image: url('japan.jpg');
    background-size: 100%;
    background-repeat: round;
    display: flex;
    flex-direction: column;
}
div#enlaces div {
    padding: 0.5em;
}
div#lselecciona {
	background-color: var(--color11);
}
div#lhistorico, div#lrecursos {
    border-top: 3px solid var(--color1);
	background-color: var(--color11);
}
/*--fin enlaces--*/
/*--Enlacesversiones--*/
div#enlacesversiones {
    grid-area: footer;
    background-color: var(--color8);
}
h3.versiones {
    margin: 0px;
    padding: 0.5em 1em;
    color: var(--color6);
}
div#enlacesversiones ul.ul1 {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px;
    justify-content: space-evenly;
}
div#enlacesversiones a {
    color: var(--color6);
}
/*--fin enlacesversiones*/
/*--/fin contenedor/--*/
/*--Todos--*/
:root {
	--color1: #3A156E;/*https://palett.es/f18cdc-a42cc1-26163b-3a156e-6b1bc0*/
	--color2: #ff84b3;
	--color3: #ffad7d;
	--color4: #ffb1eb;
	--color5: #7df9ff;
	--color6: #fdefef;
	--color7: #b797bd;
	--color8: #05005d;
	--color9: #6394ed;
	--color10: #0C83CD;
	--color11: #FF0C47;
}
li {
    word-break: break-word;
    margin: 6px;
    padding: 3px;
}
ul {
	list-style: none;
	padding: 0px;
}
p{
	margin: 1em 0.5em;
}
a {
    /*text-decoration: none;*/
    color: black;
}

/*--fin todos--*/
/*--queries--*/
@media (min-width: 600px){
	div#contenedor {
		width: 90%;
		margin: auto;
		display: grid;
		grid-template-areas: 'header header'
			'left intra'
			'left main'
			'footer footer';
	}
	/*--Intro--*/
	div#intro {
		grid-area: header;
		padding-bottom: 2em;
		background-image: url('bonsai.png');
		background-repeat: no-repeat;
		background-position: 100px bottom;
		background-size: 20%;
	}
	div#titulo h1 {
		font-size: 5vw;
		padding: 0.5em 1em;
	}
	div#titulo h2 {
		font-size: 3vw;
	}
	div#resumen {
		background-color: #3A156E;
		margin: 0px 3em;
	}
	div#resumen ul.ul1 {
		display: inline-grid;
		gap: 10px;
		grid-template-columns: auto auto auto;
	}
	div#comentario {
		background-image: url('jap.png');
		background-repeat: no-repeat;
		background-size: 5%;
		background-position: right bottom;
		width: 50%;
		position: relative;
		left: 45%;
	}
	/*--fin intro--*/
	/*--Apartados--*/
	div#apartados {
		grid-area: main;
		margin: 0.5em 2em;
	}
	div#contenidos ul.ul1 li {
		flex-direction: row;
	}
	div#contenidos ul.ul1 li ul {
		border-top: none;
	}
	div#contenidos li > ul li {
		margin: 0px;
		border-left: 3px solid var(--color1);
	}
	/*--fin apartados--*/
	/*--Enlaces--*/
	div#enlaces {
		grid-area: left;
		flex-direction: column;
		width: 12em;
	}
	/*--fin enlaces--*/
	/*--Extra--*/
	div#extraDiv1 {
		background-image: url('logo-cerezo.png');
		background-repeat: no-repeat;
		background-size: 80%;
		background-position: right top;
		width: 12%;
		height: 8em;
		position: absolute;
		right: 5em;
		top: 1em;
	}
	
	/*--fin extra--*/
}
@media (max-width: 425px){
	/*--Apartados--*/
	div#profesores dl {
		flex-direction: column;
	}
	/*--fin apartados--*/
}
@media (min-width: 615px) and (max-width: 735px){
	/*--Apartados--*/
	div#profesores dl {
		flex-direction: column;
	}
	/*--fin apartados--*/
}
@media (min-width: 335px) and (max-width: 600px){
	/*--Encalces--*/
	div#enlaces {
		grid-area: left;
		flex-direction: row;
		width: auto;
	}
	div#lhistorico, div#lrecursos {
		border-top: none;
	}
	/*--fin enlaces--*/
}

/*--fin queries--*/